
}
.one {
    width: 200px;
    height: 200px;
    background-color: bisque;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.two {
    width: 100px;
    height: 100px;
    background-color: coral;
    
}
.three {
    width: 50px;
    height: 50px;
    background-color: rgb;(77, 45,6)

}
div {
    width: auto;
    height: auto;
    background-color: bisque;
    overflow: auto;
}
.section p, .section li {
      font-size: 20px;
      line-height: 2;
    }
    .section ul {
      scroll-padding: 10px;
    }
img {
    flot: left;
    margin: 5px;
}
.kiri {
    width: 150px;
    height: 500px;
    background-color: rgb(101, 102, 99);
    float: left;
}
.tengah {
    width: 500px;
    height: 500px;
    background-color: rgb(171, 255, 2);
    float: left;
}

.kanan {
    width: 150px;
    height: 500px;
    background-color: rgb(101, 102, 99);
    float: right;
}
.abstract {
    font-family: "Times New Roman", serif;
    font-size: 11pt;
    line-height: 1;
    text-align: justify;
    text-indent: 0;
}