img {
    flot: left;
    margin: 5px;
}
.kiri {
    width: 150px;
    height: 500px;
    background-color: rgb(101, 102, 99);
    float: left;
}
.tengah {
    width: 500px;
    height: 500px;
    background-color: rgb(171, 255, 2);
    float: left;
}

.kanan {
    width: 150px;
    height: 500px;
    background-color: rgb(101, 102, 99);
    float: right;